parameters:

    cdnUrl: http://common.cdn.dev.hml.dixonsretail.net/chuck/

    projects:
        fo-currys:
            label: FO Currys
            repositoryPath: /var/lib/jenkins/jobs/fo-currys-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/fo-currys-common/workspace/source
            changelogTpl: wiki.latte
            sendTo: ISeCommAppDevFront@dixonsretail.com
        bo-currys:
            label: BO Currys
            repositoryPath: /var/lib/jenkins/jobs/bo-currys-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-currys-common/workspace/source
        fo-pcw:
            label: FO PC World
            repositoryPath: /var/lib/jenkins/jobs/fo-pcw-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/fo-pcw-common/workspace/source
        bo-pcw:
            label: BO PC World
            repositoryPath: /var/lib/jenkins/jobs/bo-pcw-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-pcw-common/workspace/source
        bo-translations:
            label: BO Translations
            repositoryPath: /var/lib/jenkins/jobs/bo-translations-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-translations-common/workspace/source

        gateway:
            label: Gateway
            repositoryPath: /var/lib/jenkins/jobs/gateway-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/gateway-common/workspace/source
        automailer:
            label: Automailer
            repositoryPath: /var/lib/jenkins/jobs/automailer-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/automailer-common/workspace/source

        bo-brain:
            label: BO Brain
            repositoryPath: /var/lib/jenkins/jobs/bo-brain-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-brain-common/workspace/source
        product:
            label: BO Product
            repositoryPath: /var/lib/jenkins/jobs/product-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/product-common/workspace/source
        wsint-brain:
            label: WS Brain
            repositoryPath: /var/lib/jenkins/jobs/wsint-brain-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/wsint-brain-common/workspace/source

        bo-client:
            label: BO Client
            repositoryPath: /var/lib/jenkins/jobs/bo-client-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-client-common/workspace/source
        ws-client:
            label: WS Client
            repositoryPath: /var/lib/jenkins/jobs/ws-client-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/ws-client-common/workspace/source


        fo-core:
            label: FO Core
            repositoryPath: /var/lib/jenkins/jobs/fo-core-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/fo-core-common/workspace/source/core
        bo-core:
            label: BO Core
            repositoryPath: /var/lib/jenkins/jobs/bo-core-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/bo-core-common/workspace/source/core

        fraudbuster:
            label: Fraudbuster
            repositoryPath: /var/lib/jenkins/jobs/fraudbuster-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/fraudbuster-common/workspace/source
        geoloc:
            label: Geoloc
            repositoryPath: /var/lib/jenkins/jobs/geoloc-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/geoloc-common/workspace/source
        scud:
            label: Scud
            repositoryPath: /var/lib/jenkins/jobs/scud-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/scud-common/workspace/source
        ws-scud:
            label: WS Scud
            repositoryPath: /var/lib/jenkins/jobs/ws-scud-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/ws-scud-common/workspace/source
        shopbot:
            label: Shopbot
            repositoryPath: /var/lib/jenkins/jobs/shopbot-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/shopbot-common/workspace/source
        sourcing:
            label: Sourcing
            repositoryPath: /var/lib/jenkins/jobs/sourcing-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/sourcing-common/workspace/source
        webcall:
            label: Webcall
            repositoryPath: /var/lib/jenkins/jobs/webcall-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/webcall-common/workspace/source
        ws-webcall:
            label: WS Webcall
            repositoryPath: /var/lib/jenkins/jobs/ws-webcall-common/workspace/source
            sourcePath: /var/lib/jenkins/jobs/ws-webcall-common/workspace/source