common:
    php:
        date.timezone: Europe/London

    parameters:
        jiraApiPath: http://jira.dixons.co.uk/rest/api/latest/
        jiraPath: http://jira.dixons.co.uk/
        svnUrl: https://svn.dixonsretail.net
        # deprecated - used in ProjectPresenter
        changelogWikiTpl: wiki
        changelogMailTpl: mail
        changelogSendTo: ISeCommAppDevFront@dixonsretail.com

        mailer:
            sender: 'no-reply <no-reply@dixonsretail.com>'
            uat:
                subject: "UAT release changelog"
                recipients: ['michal.svec@dixonsretail.com']

    nette:
        application:
            errorPresenter: Error
            mapping:
                *: DixonsCz\Chuck\Presenters\*Presenter
        debugger:
            strictMode: true
            bar:
                - @svnDebugBar

    includes:
        - secret.neon
        - services.neon

jenkins < common:
    includes:
        - config.jenkins.neon

dixdev < common:
    services:
        logger:
            setup:
                - pushHandler(@streamHandler)
    includes:
        - config.dixdev.neon

development < common:
    services:
        logger:
            setup:
                - pushHandler(@streamHandler)
                - pushHandler(@netteHandler)
        svnHelper:
            class: DixonsCz\Chuck\Svn\FromFile(%svnLogFile%)
            run: true
        jiraIssuesRepository:
            class: DixonsCz\Chuck\Jira\Issue\FromFileRepository(%jiraFile%)

    includes:
        - config.local.neon

production < common:
